%%% ex: filetype=erlang expandtab
{sys, [{lib_dirs, ["/home/lulu/dev/cells/release/"]},
       {rel, "0.1.0", "1.0.0",
        [kernel,
         stdlib,
         {cells, transient}
        ]},
       {boot_rel, "cells"},
       {relocatable, true},
       {profile, standalone},
       {app, cells, [{vsn, "0.1.0"},
                     {incl_cond, include},
                     {app_file, strip},
                     {debug_info, strip}]}]}.
